<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../Public/css/style.css">

    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <title>Dogma</title>
</head>
<body>
    <header>
        <nav>
            <div class="img_container_logo">
                <img src="../Public/img/D-removebg-preview.png" alt="">
            </div>
            <ul>
                <li>
                    <a href="">Inicio</a>
                </li>
                <li>
                    <a href="">Serviços</a>
                </li>
                <li>
                    <a href="">Avaliações</a>
                </li>
                <li>
                    <a href="">Contato</a>
                </li>
            </ul>
            <div class="container_btn_consulta">
                <a class="btn_consulta">+ Consulta</a>
            </div>

        </nav>
    </header>
    <main>
        <section class="banner_cont">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="../Public/img/1.png" alt=""></div>
                  <div class="swiper-slide"><img src="../Public/img/2.png" alt=""></div>
                  <div class="swiper-slide"><img src="../Public/img/3.png" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <script src="../Public/js/swiper.js"></script>
        </section>
        <section class="serviços">
            <div class="title_default_cont">
                <h3>Para Eles</h3>
            </div>
            <div class="container_card_service">
                <div class="card_service">
                    <div class="img_service">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <div class="shape_service"></div>
                    </div>
                    <div class="title_service_card">Consulta Clínica Geral</div>
                    <div class="body_service">Avaliação de saúde e diagnósticos iniciais.</div>
                </div>
                <div class="card_service">
                    <div class="img_service">
                        <i class="fa-solid fa-syringe"></i>
                        <div class="shape_service"></div>
                    </div>
                    <div class="title_service_card">Vacinação</div>
                    <div class="body_service">Aplicação de vacinas essenciais e complementares.</div>
                </div>
                <div class="card_service">
                    <div class="img_service">
                        <i class="fa-solid fa-shower"></i>
                        <div class="shape_service"></div>
                    </div>
                    <div class="title_service_card">Banho e Tosa</div>
                    <div class="body_service">Cuidados com higiene e estética.</div>
                </div>
                <div class="card_service">
                    <div class="img_service">
                        <i class="fa-solid fa-dog"></i>
                        <div class="shape_service"></div>
                    </div>
                    <div class="title_service_card">Castração</div>
                    <div class="body_service">Procedimentos de esterilização com suporte pós-operatório.</div>
                </div>
                <div class="card_service">
                    <div class="img_service">
                        <i class="fa-solid fa-bone"></i>
                        <div class="shape_service"></div>
                    </div>
                    <div class="title_service_card">Adestramento</div>
                    <div class="body_service">Treinamento para correção de comportamento e obediência.</div>
                </div>
                <div class="card_service">
                    <div class="img_service">
                        <i class="fa-solid fa-stethoscope"></i>
                        <div class="shape_service"></div>
                    </div>
                    <div class="title_service_card">Exames Laboratoriais</div>
                    <div class="body_service">Hemogramas, exames de urina, fezes e bioquímicos.</div>
                </div>
            </div>

        </section>
        <section class="sobre_vet">
            <div class="title_default_cont">
                <h3>Sobre Nós</h3>
            </div>
            <div class="conatiner_sobre_body">
                <div class="sobre_left">
                    <img src="../Public/img/Web search-pana.png" alt="">
                </div>
                <div class="sobre_right">
                    <div class="sobre_title">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
                    <div class="text_sobre">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis rem aliquid harum expedita a sequi, delectus, molestiae, quae enim libero pariatur. Pariatur ipsum ullam perspiciatis qui laudantium dolorem corporis accusamus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vel amet expedita reiciendis beatae officiis odio esse, aut deserunt rem sint maxime ducimus voluptatem laudantium enim quod mollitia inventore pariatur?</div>
                    <div class="sobre_btn">
                        <a href="">Agende</a>
                    </div>
    
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>